img {
  border-radius: 50%;
}

.presentational-container {
  padding: 20px;
  box-shadow: 2px 2px 10px 5px;
  background-color: #fff;
}

.table-container {
  background: none;
  margin: 0;
  padding: 10px 10px 0;
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #232c9f;
}

.portfolio {
    text-decoration: none;
    font-size: 20px;
}
.details {
    font-family: cursive;
}
